.c-loader {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: 55px;

	&.invisible {
		visibility: none;
	}

	&__stretch {
		height: 100%;
	}
}

.c-apps-feed {
	&-container.unscrollable {
		overflow-y: hidden;
	}
}
