<div [class.invisible]="!atAppsTop" #loader class="c-loader">
	<ngx-spinner
		bdColor="rgba(0, 0, 0, 0)"
		color="rgba(0, 0, 0, 0.2)"
		size="default"
		type="ball-clip-rotate"
		[fullScreen]="false"
		[showSpinner]="true"
	></ngx-spinner>
	<!-- <div class="c-loader__stretch"></div> -->
</div>
<div #scrollFrame></div>
<div class="c-apps-feed-container">
	<apps-feed class="c-apps-feed" [apps]="(apps$ | async) ?? []"></apps-feed>
</div>
