@import '../../assets/variables';

.c-apps {
	display: grid;
	gap: 6vw;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 3rem), 1fr));
	overflow-x: clip;
	padding: 2.5rem;

	&.unscrollable {
		overflow-y: hidden;
	}
}

.c-app {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&--blur {
		filter: blur(2px);
		-webkit-filter: blur(2px);
		opacity: 0.8;
	}
	&.unscrollable {
		overflow-y: hidden;
	}

	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border: solid #{$secondary-color} 1px;
		border-radius: 1rem;

		&--none {
			@extend .c-app__img;
			background-color: rgba($secondary-color, 0.05);
			color: rgba($secondary-color, 0.7);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3rem;
			font-weight: bold;
		}

		&-wrapper {
			position: relative;
		}
		&-wrapper:after {
			content: '';
			display: block;
			padding-bottom: 100%;
		}
	}

	&__name {
		font-size: 12px;
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
			sans-serif;
		width: 4rem;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		color: #{$grey-color};

		&.active {
			color: #{$primary-color};
			transition: none;
		}
	}
}

.c-bar {
	&__outer {
		position: fixed;
		right: -4px;
		top: 0;
		z-index: 1000;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		user-select: none;
	}
	&__inner {
		height: 70%;

		alphabetical-scroll-bar ::ng-deep .letter-container.touched {
			color: #{$active-color};
		}
	}
	&__letter {
		position: absolute;
		right: 26pt;
		width: 56pt;
		height: 56pt;
		background-color: #{$secondary-color};
		color: white;
		border-radius: 50%;
		border-bottom-right-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 26pt;
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
			sans-serif;
	}
}
