<div class="c-apps" [class.unscrollable]="!scrollEnabled">
	<div
		*ngFor="let app of _apps"
		[style.scroll-margin]="currentLetter ? '6vw' : 0"
		[class.c-app--blur]="currentLetter && !isAppActive(app.name[0])"
		[class]="'c-app ' + app.name[0].toLowerCase()"
	>
		<div class="c-app__img-wrapper">
			<img *ngIf="app.imageUrl?.length" [src]="app.imageUrl" class="c-app__img" />
			<div *ngIf="!app.imageUrl?.length" class="c-app__img--none">#</div>
		</div>
		<span class="c-app__name" [class.active]="isAppActive(app.name[0])">{{
			app.name
		}}</span>
	</div>
</div>
<div class="c-bar__outer" (touchmove)="scrollEnabled = false">
	<div class="c-bar__inner">
		<alphabetical-scroll-bar
			#scrollBar
			[letterMagnification]="true"
			[exactX]="false"
			[validLetters]="usedLetters"
			[customAlphabet]="allLetters"
			(letterChange)="onLetterChange($event)"
			(endTouch)="onBarTouchEnd($event)"
		></alphabetical-scroll-bar>
		<div *ngIf="currentLetter" [style.top]="fingerY + 'px'" class="c-bar__letter">
			<span>{{ currentLetter.toUpperCase() }}</span>
		</div>
	</div>
</div>
